h1 {
    font-family: 'Imbue', serif;
    font-size: 18.13rem;
}

.blackIcon {
    height: 9.56rem;
    width: auto;
    margin: 0px 0px 20px 10px;
}

.marquee-wrap {
    display: inline-flex;
    white-space: nowrap;
    justify-content: flex-start;
    overflow: hidden;
    animation: move-rtl 30000ms infinite linear;
}

@keyframes move-rtl{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
    200% {
        transform: translateX(100%);
    }
}