:root{
    --black: rgba(0,0,0,1);
    --caeruleum: rgba(32,175,255,1);
    --infra: rgba(217,217,217,1);
    --rubrum: rgba(255,59,66,1);
    --flavum: rgba(255,250,8,1);
    --album: rgba(255,255,255,1);

    --font-size-s: 40px;
    --font-size-h: 290px;
    --font-size-ss: 16px;

    --font-family-imbue: "Imbue";
    --font-family-montserrat: "Montserrat";
}

.imbue-normal-black-290px{
    color: var(--black);
    font-family: var(--font-family-imbue);
    font-size: var(--font-size-h);
    font-weight: 400;
    font-style: normal;
    margin-bottom: auto;
}

.black-icon{
    height: 153px;
    margin-top: 11px;
    min-height: 153px;
    width: 153px;
    padding: 0 15.5px;
    left: 0;
}

/* Navbar */
.topnav{
    overflow: hidden;
    margin-bottom: -350px;
}

.topnav a{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--font-size-s);
    font-family: var(--font-family-montserrat);
}

ul{
    list-style-type: none;
}

/* Learn About Me Section */
.blue-icon{
    align-self: center;
    min-height: 167px;
    margin-left: 20px;
    margin-top: 22px;
    position: relative;
    width: 165px;
}

.lam-container{
    display: flex;
    border: 6px solid black;
    margin: auto 146px;
}

.lam-left-col{
    width: 40%;
    background-color: var(--caeruleum);
    border-right: 6px solid black;
}

.lam-left-row-inner{
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
}

.lam-right-col{
    width:60%;
}

.lam-header-left{
    display: flex;
    justify-content: center;
    color: var(--album);
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: var(--font-size-s);
}

.lam-header-right{
    display: flex;
    color: var(--caeruleum);
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: var(--font-size-s);
    margin-left: 30px;
}

.lam-body-right{
    display:flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    font-family: var(--font-family-montserrat);
    font-weight: 400;
    font-size: var(--font-size-ss);
    line-height: 1.6;
    margin-bottom: 25px;
}

.sprites{
    width: 91px;
    height: 91px;
}

.adobesprites{
    width: 81px;
    height: 81px;
    margin-bottom: 20px;
}

.figmasprite{
    width: 81px;
    height: 99px;
}

.gitsprite{
    width: 81px;
    height: 75px;
}

.lam-left-col-inner-right{
    margin-right: -15px;
}

.lam-left-col-inner-center{
    margin-top: 10px;
}

.lam-left-col-inner-left{
    margin-left: 15px;
}

/* Check Out My Work Section */
.red-icon{
    margin-top:9px;
    min-height:197px;
    padding: 0 14.4px;
    width:69px;
}

.comw-container{
    display: flex;
    border: 6px solid black;
    margin: auto 146px;
}

.comw-left-col{
    width: 50%;
    border-right: 6px solid black;
}

.comw-right-col{
    width: 50%;
}

.btn-wrap{
    text-align: right;
    background-color: var(--rubrum);
    margin-bottom: 0;
}

.rubrum-button{
    border: none;
    border-radius: 3em;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    background-color: var(--rubrum);
}

/* GET IN TOUCH WITH ME */ 

.yellow-icon{
    margin-top:9px;
    min-height:187px;
    padding: 0 14.4px;
    width:130px;
}

.git-container{
    display: flex;
    border: 6px solid black;
    margin: auto 146px;
}

.git-left-col{
    width: 80%;
    border-right: 6px solid black;
}
.git-right-col{
    width: 35%;
    background-color: var(--flavum);
}
.git-header-left{
    display: flex;
    color: var(--flavum);
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: var(--font-size-s);
    margin-left: 15px;
    margin-right: 15px;
}

input{
    width: 80%;
    border: none;
    border-bottom: 2px solid var(--flavum);
    padding: 12px 20px;
    margin: 20px;
}


.submit{
    text-align: right;
    margin-right: 50px;
    margin-bottom: 30px;
}

.submitbtn{
    background-color: white;
    color: black;
    font-family: var(--font-family-montserrat);
    border: 2px solid var(--flavum);
    padding: 10px 30px;
    cursor: pointer;
}

.git-header-right{
    display: flex;
    justify-content: center;
    color: var(--album);
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: var(--font-size-s);
    margin-left: 10px;
}

.git-right-sprites{
    display: flex;
    justify-content: center;
}

.input-text{
    font-family: var(--font-family-montserrat);
}

/* MARQUEES */

.marquee-wrap{
    overflow: hidden;
    white-space: nowrap;
    margin-top: -200px;
}

.marquee-wrap p {
        display: inline-block;
        padding-left: 100%; /* Adjust the value to control the speed */
        animation: marquee 10s linear infinite;
      }
      
      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }