:root{
    --black: rgba(0, 0, 0, 1);
    --caeruleum: rgba(22, 129, 191, 1);
    --infra: rgba(186, 186, 186, 1); 
    --rubrum: rgba(219, 35, 39, 1); 
    --flavum: rgba(238, 231, 17, 1);
    --album: rgba(255, 255, 255, 1);

    --font-size-s: 40px;
    --font-size-h: 290px;
    --font-size-ss: 16px;

    --font-family-imbue: "Imbue";
    --font-family-montserrat: "Montserrat";
}

.imbue-normal-black-290px{
    color: var(--black);
    font-family: var(--font-family-imbue);
    font-size: var(--font-size-h);
    font-weight: 400;
    font-style: normal;
    margin-bottom: auto;
}

.black-icon{
    height: 153px;
    margin-top: 11px;
    min-height: 153px;
    width: 153px;
    padding: 0 15.5px;
    left: 0;
}

/* Navbar */
/* .topnav{
    overflow: hidden;
    margin-bottom: -350px;
}

.topnav a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--font-size-s);
    font-family: var(--font-family-montserrat);
}
.topnav img{
    width: 40px;
    height: 40px;
    margin-right: -20px;
} 


ul{
    list-style-type: none;
    display: flex;
    float: right;
} */

/* Learn About Me Section */
.blue-icon{
    align-self: center;
    min-height: 167px;
    margin-left: 20px;
    margin-top: 22px;
    position: relative;
    width: 165px;
}

.container{
    display: flex;
    border: 6px solid black;
    margin: auto 146px;
}

.lam-left-col{
    width: 40%;
    background-color: var(--caeruleum);
    border-right: 6px solid black;
}

.lam-right-col{
    width:60%;
    display: flex;
    flex-direction: column;
}

.heading-album{
    color:var(--album);
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: var(--font-size-s);
    text-align: center;
}

.heading-caeruleum{
    color: var(--caeruleum);
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: var(--font-size-s);
    text-align: center;
}


.lam-body{
    padding: 0px 30px 0px 30px;
    font-family: var(--font-family-montserrat);
    font-weight: 400;
    font-size: var(--font-size-ss);
    line-height: 1.35;
}


.spritebox{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
    justify-content: center;
}

.sprites{
    width: 91px;
    height: 91px;
}

.adobesprites{
    width: 81px;
    height: 81px;
    margin-bottom: 20px;
}

.figmasprite{
    width: 81px;
    height: 99px;
}

.gitsprite{
    width: 81px;
    height: 75px;
}

/* Check Out My Work Section */
.red-icon{
    margin-top:9px;
    min-height:197px;
    padding: 0 14.4px;
    width:69px;
}

.comw-left-col{
    width: 50%;
    border-right: 6px solid black;
}

.comw-right-col{
    width: 50%;
}

.btn-wrap{
    text-align: right;
    background-color: var(--rubrum);
    margin-bottom: 0;
}

.rubrum-button{
    border: none;
    border-radius: 3em;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    background-color: var(--rubrum);
}

/* GET IN TOUCH WITH ME */ 

.yellow-icon{
    margin-top:9px;
    min-height:187px;
    padding: 0 14.4px;
    width:130px;
}

.git-left-col{
    width: 80%;
    border-right: 6px solid black;
}
.git-right-col{
    width: 35%;
    background-color: var(--flavum);
}
.git-header-left{
    display: flex;
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: var(--font-size-s);
    margin-left: 15px;
    margin-right: 15px;
}

input{
    width: 80%;
    border: none;
    border-bottom: 2px solid var(--flavum);
    padding: 12px 20px;
    margin: 20px;
}


.submit{
    text-align: right;
    margin-right: 50px;
    margin-bottom: 30px;
}

.submitbtn{
    background-color: white;
    color: black;
    font-family: var(--font-family-montserrat);
    border: 2px solid var(--flavum);
    padding: 10px 30px;
    cursor: pointer;
}

.git-header-right{
    display: flex;
    justify-content: center;
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: var(--font-size-s);
    margin-left: 10px;
}

.git-right-sprites{
    display: flex;
    justify-content: center;
}

.input-text{
    font-family: var(--font-family-montserrat);
}

/* Phone Input Arrow Hider */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: textfield;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* MARQUEES */

.marquee-container{
    overflow: hidden;
    white-space: nowrap;
    margin-top: -200px;
}

.marquee-container p {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 10s linear infinite;
      }
      
      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }

/* Footer */

/* footer{
    display: block;
    background-color: var(--infra);
    padding: 30px;
    margin-top: 20px;
} */

footer p{ 
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-ss);
    text-align: center;
}

/* Media Queries */
@media (max-width: 850px){
    .container{
        display: grid;
        flex-direction: column;
        width: 100%;
        margin: none;
    }
    .lam-left-col, .lam-right-col{
        width: 100%;
    }
    .comw-left-col, .comw-right-col{
        width: 100%
    }
    .git-right-col{
        width: 100%;
    }
    .marquee-container,
    .marquee-container p{
        transform: translateX(150px);
    }
    body{
        transform: translateX(-152px);
    }
    .spritebox{
        gap: 1em;
    }
}

@media (max-width: 1200px){
    .spritebox{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1em;
        justify-content: center;
        }
    }